@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

:root{
    --gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(354, 100%, 66%);
    --blue: hsl(223, 87%, 63%);
    --veryDarkBlue: hsl(209, 33%, 12%);
    --brightPaleBlue: hsl(226, 57%, 93%);
}
html, body, input, button{
    font-family: "Libre Franklin", sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    font-size: 2.5em;
    color: var(--gray);
    font-weight: 300;
    margin-bottom: .3em;
}
strong{
    color: var(--veryDarkBlue);
}
header p{
    margin: 0;
    font-weight: 400;
    color: var(--veryDarkBlue);
}
i{
    transform: translate(-22%, -25%);
    color: var(--blue);
}
footer p{
    font-size: .7em;
    color: var(--gray);
}
input, button{
    border: none;
    border-radius: 20em;
}
input{
    width: 22em;
    outline: none;
    padding: 1em 1.5em;
    border: 1px solid var(--brightPaleBlue);
}
input::placeholder{
    color: hsl(220, 2%, 75%);
}
button{
    margin-left: 1em;
    padding: 1em 3.5em;
    background: var(--blue);
    color: var(--white);
    box-shadow: 0 .3em .2em .2em var(--brightPaleBlue);
    cursor: pointer;
}

.logo{
    width: 4.3em;
    margin-top: 5em;
}
.media{
    margin-top: 2em;
}
.media, .notify{
    justify-content: center;
    display: flex;
}
.media article{
    width: .5em;
    height: .5em;
    padding: 1em;
    border-radius: 50%;
    border: 1px solid var(--brightPaleBlue);
}
.media article:not(:last-child){
    margin-right: 1em;
}
.illusDash{
    width: 31.25em;
}
.notify{
    margin: 2em 0 4em 0;
}
.notify div{
    position: relative;
}
span{
    display: none;
    position: absolute;
    left: 1em;
    top: 4.5em;
    font-size: .7em;
    font-style: italic;
    color: var(--red);
}
a{
    text-decoration: none;
}
.label-invisible{
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media (max-width: 525px){
    h1{
        font-size: 2em;
    }
    .notify{
        display: grid;
    }
    input{
        border: 1px solid #d6dae0;
        padding: 1em 1.5em;
        margin-bottom: 2em;
    }
    .illusDash{
        width: 90%;
    }
    button{
        margin-left: 0;
    }
}
@media (max-width: 380px){
    h1{
        font-size: 1.7em;
    }
    input{
        width: 18em;
    }
}
@media (max-width: 310px){
    h1{
        text-wrap: balance;
        font-size: 1.5em;
    }
    input{
        width: 15em;
    }
}